.hero-area {
  border-radius: 1.25rem;
  background-color: #e1e2fd;
  color: #0d2f3f;
  font-family: 'Poppins', sans-serif;
}
.hero-textArea {
  margin-top: 5rem;
}
.hero-textArea h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
}
.project-btn {
  border: none !important;
}
.project-btn:hover {
  background-color: #ef284f !important;
}
.resume-download-btn:hover,
.project-btn {
  background-color: #ff284f !important;
  /* border: none !important; */
}
